<%- include('organisms/head') %>
<%- include('organisms/header') %>
    <section id="objective">
        <div class="jm-container">
            <h2>Building the most effective web experience for every internet connected device is the ardent focus of my&nbsp;career.</h2>
        </div>
    </section>
    <section id="services">
        <div class="jm-container">
            <h2>Services</h2>
            <ul>
                <li>Front-End Web Development</li>
                <li>User Experience (UX) Design</li>
                <li>User Interface (UI) Design</li>
                <li>Server-Side Development (Node.js &amp; PHP)</li>
                <li>Data Modeling for Single and Multilingual Web Applications</li>
                <li>Content Strategy</li>
                <li>Cloud Hosting Management (Microsoft Azure)</li>
            </ul>
            <h2>Industries Serviced</h2>
            <ul>
                <li>Social Media</li>
                <li>Search Engines</li>
                <li>Corporate / Legal</li>
                <li>Medical</li>
                <li>Online Dating</li>
                <li>Hotels</li>
                <li>Banking</li>
                <li>Financial Tools</li>
                <li>Sports</li>
                <li>Foods</li>
                <li>Civil Industrial</li>
            </ul>
        </div>
    </section>
    <section id="clients">
        <div class="jm-container">
            <h2>Client Work</h2>
            <p>I've had the pleasure working with these US and Global clients throughout my career.</p>
            <ul>
                <li class="tall"><a href="http://lq.com" target="_blank"><div class="img" id="laquinta" src="images/clients/la-quinta.png">La Quinta Inns &amp; Suites</div></a></li>
                <li class="tall"><a href="http://www.shutterfly.com" target="_blank"><div class="img" id="shutterfly" src="images/clients/shutterfly.png">Shutterfly</div></a></li>
                <li class="tall"><a href="http://www.whichwich.com" target="_blank"><div class="img" id="whichwich" src="images/clients/whichwich.png">Which Wich</div></a></li>
                <li class="tall"><a href="http://ask.com" target="_blank"><div class="img" id="askdotcom" src="images/clients/askdotcom.png">Ask.com</div></a></li>
                <li><a href="http://www.lundinternational.com/" target="_blank"><div class="img" id="lund" src="images/clients/lund.png">LUND International</div></a></li>
                <li class="tall"><a href="http://www.spe.org/" target="_blank"><div class="img" id="spe" src="images/clients/spe.png">Society of Petrolium Engineers</div></a></li>
                <li><a href="http://www.darlinghomes.com/" target="_blank"><div class="img" id="darling" src="images/clients/darling-homes.png">Darling Homes</div></a></li>
                <li><a href="https://www.santanderconsumerusa.com/" target="_blank"><div class="img" id="santander" src="images/clients/santander.png">Santander</div></a></li>
                <li><a href="https://chryslercapital.com/" target="_blank"><div class="img" id="crystler" src="images/clients/crystler-capital.png">Crystler Captial</div></a></li>
                <li><a href="https://www.gmfinancial.com/" target="_blank"><div class="img" id="gm" src="images/clients/gm-financial.png">GM Financial</div></a></li>
                <li class="tall"><a href="http://www.daveandbusters.com/" target="_blank"><div class="img" id="davebusters" src="images/clients/dave-and-busters.png">Dave &amp; Busters</div></a></li>
                <li><a href="https://www.purina.com/" target="_blank"><div class="img" id="purina" src="images/clients/purina.png">Purina</div></a></li>
                <li class="tall"><a href="http://ask.fm" target="_blank"><div class="img" id="askfm" src="images/clients/askfm.png">Ask.fm</div></a></li>
                <li class="tall"><a href="http://www.iac.com" target="_blank"><div class="img" id="iac" src="images/clients/iac.png">IAC</div></a></li>
                <li><a href="http://www.fluor.com/pages/default.aspx" target="_blank"><div class="img" id="fluor" src="images/clients/fluor.png">Fluor</div></a></li>
                <li><a href="https://www.txu.com/" target="_blank"><div class="img" id="txuenergy" src="images/clients/txu-energy.png">TXU Energy</div></a></li>
                <li><a href="http://www.match.com" target="_blank"><div class="img" id="match" src="images/clients/match.png">Match.com</div></a></li>
                <li><a href="http://www.dictionary.com" target="_blank"><div class="img" id="dictionary" src="images/clients/dictionary.png">Dictionary.com</div></a></li>
                <li><a href="http://richardpettymotorsports.com" target="_blank"><div class="img" id="rpm" src="images/clients/richard-petty-motorsports.png">Richard Petty Motorsports</div></a></li>
                <li class="tall"><a href="https://ccsmed.com/" target="_blank"><div class="img" id="ccs" src="images/clients/ccs-medical.png">CCS Medical</div></a></li>
            </ul>
        </div>
    </section>
    <section id="projects">
        <div class="jm-container">
            <h2>Public Projects</h2>
            <p>The following is a list of publicly available projects in which I have contributed.</p>
            <div class="project">
                <h3>Four Man Furnace - Website</h3>
                <p>Collaborated efforts on Content Structure, UX Design, and UI Design. Solely developed all website code. URL: <a href="http://4mf.co">http://4mf.co</a></p>
                <p><strong>Technologies Used:</strong></p>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3 (SCSS)</li>
                    <li>JavaScript</li>
                    <li>Node.js / Express.js / EJS</li>
                    <li>SVGs</li>
                    <li>CSS Animations</li>
                    <li>Gulp</li>
                </ul>
            </div>
            <div class="project">
                <h3>MyTexasFFA.org - Website</h3>
                <p>Collaborated efforts on Content Structure, UX Design, and UI Design. Solely developed all website code. URL: <a href="http://mytexasffa.org">http://mytexasffa.org</a></p>
                <p><strong>Technologies Used:</strong></p>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3 (SCSS)</li>
                    <li>JavaScript / jQuery</li>
                    <li>Node.js / Express.js / EJS</li>
                    <li>AngularJS</li>
                    <li>Socket.io</li>
                    <li>DocumentDB</li>
                    <li>SendGrid API</li>
                    <li>SVGs</li>
                    <li>CSS Animations</li>
                    <li>Microsoft Azure CDN</li>
                </ul>
            </div>
            <div class="project">
                <h3>Richard Petty Motorsports - Website</h3>
                <p>Collaborated efforts on Content Structure, UX Design, and UI Design. Solely developed custom Wordpress template. URL: <a href="http://richardpettymotorsports.com">http://richardpettymotorsports.com</a></p>
                <p><strong>Technologies Used:</strong></p>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3 (SCSS)</li>
                    <li>JavaScript / jQuery</li>
                    <li>PHP / Wordpress</li>
                    <li>MySQL</li>
                    <li>SVGs</li>
                    <li>CSS Animations</li>
                    <li>Microsoft Azure CDN</li>
                </ul>
            </div>
            <div class="project">
                <h3>Ask.fm Safety Center &amp; About Us - Websites</h3>
                <p>Collaborated efforts on Content Structure, UX Design, and UI Design. Managed small team of developers to create custom Wordpress template. Advised and organized translations of site content in 49 different languages. URLs: <a href="http://safety.ask.fm">http://safety.ask.fm</a> / <a href="http://about.ask.fm">http://about.ask.fm</a></p>
                <p><strong>Technologies Used:</strong></p>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3 (SCSS)</li>
                    <li>JavaScript / jQuery</li>
                    <li>PHP / Wordpress</li>
                    <li>MySQL</li>
                    <li>CrowdIn Translation</li>
                    <li>SVGs</li>
                    <li>CSS Animations</li>
                    <li>Microsoft Azure CDN</li>
                </ul>
            </div>
            <div class="project">
                <p><em>Further projects and details are available upon request.</em></p>
            </div>
        </div>
    </section>
    <section id="credentials">
        <div class="jm-container">
            <h2>Credentials</h2>
            <div class="columns">
                <p><strong>Education:</strong> <br />Bachelor of Science (Interactive Media major) received from Bradley University - May 2008.</p>
                <p><strong>Experience:</strong> <br />9 years of professional experience. Work includes direct collaboration and communication with clients, as well as working within a team environment ranging up to 15 people.</p>
                <p><strong>Programming Languages: </strong> <br />HTML5, CSS3, Client-side JavaScript (ES5-6), PHP, Node.js, Express.js, Angular, SCSS, Gulp, Grunt, LESS, jQuery, JSON, MySQL, MongoDB, DocumentDB, PostreSQL, XML, YAML</p>
                <p><strong>Languages:</strong> <br />Native Level English in all communications; Intermediate Japanese for reading &amp;typing; Beginner Japanese for speaking &amp; listening.</p>
                <p><strong>Visa:</strong> <br />Currently residing in Japan under an Engineering Work visa</p>
            </div>
        </div>
    </section>
    <section id="thewhy">
        <div class="jm-container">
            <h2>What Sets Me Apart</h2>
            <div class="columns">
                <p>I have a deep passion and understanding for both the technical, and creative process of web projects.  While my creative experience allows me to effectively problem solve visual and interactive elements that are best in mind for the user, my technical experience allows me to create that solution in a way that is most efficient for the device running the web app.</p>
                <p>I also believe that web production is not a solo effort, but one that requires collaboration and communication between people who can both compliment and challenge each other to be better at their craft. These are the ideals I never stray from in order to be the best designer I can be for myself, my co&ndash;workers, and the end users.</p>
            </div>
        </div>
    </section>
<%- include('organisms/foot') %>