@import 'normalize';
@import 'variables';

p{
    @include body;
    &:first-of-type{
        margin: 0 0 1em 0;
    }
}

h1{
    @include headline;
    font-size:2.5rem;
    @media screen and (min-width:30em){
        font-size: 3.5rem;
    }
    &:first-of-type{
        margin: 0 0 .5rem 0;
    }
}
h2{
    @include headline;
    font-size: 1.75rem;
    @media screen and (min-width:36em){
        font-size: 2.75rem;
    }
    &:first-of-type{
        margin: 0 0 .5rem 0;
    }
}
h3{
    @include body;
    font-size: 1.25rem;
    @media screen and (min-width:36em){
        font-size: 1.75rem;
    }
    &:first-of-type{ 
        margin: 0 0 .5rem 0; 
    }
}

ul{
    padding-left:0;
    list-style-type:none;
    li{
        margin: 0 0 .5em 1em;
        position:relative;
        &::before{
            content:"\25CF";
            position:absolute;
            top:-.1rem;
            left:-.85em;
        }
    }
}

dl{
    margin:0 0 1em 0;
    dt{
        padding-left:0em;
        margin-top:1em;
        &:first-of-type{
            margin-top:0;
        }
    }
    dd{
        margin-left:1em;
    }
}

.columns{
    @media screen and (min-width:52em){
        column-count:2;
        orphans:4;
    }
}

section{
    float:left;
    display:block;
    clear:both;
    width:100%;
    margin:0;
    padding:5rem 0;
    min-height:50vh;
    display:flex;
    align-items:center;
    ul{
        @media screen and(min-width:36em){
            column-count:2;
        }
        @media screen and(min-width:64em){
            column-count:3;
        }
    }
}

footer{
    padding:5rem 0;
    float:left;
    width:100%;
    p{
        a{
            color:$red;
        }
    }
}

.jm-container{
    width:90%;
    margin:0 auto;
    position:relative;
    max-width:64em;
}

#scrollTop{
    font-size:1.5rem;
    width:3rem;
    height:3rem;
    border-radius: 50%;
    background-color: $red;
    color:$white;
    text-align:center;
    line-height:1.8em;
    box-shadow: -.2em .2em 0px $white;
    border:1px solid $white;
    position:fixed;
    bottom: 10%;
    right: -4rem;
    transform: rotate(120deg);
    z-index:5;
    cursor:pointer;
    transition: right .3s ease, transform .3s ease-out;
    &.active{
        right:1rem;
        transform: rotate(0deg);
    }
}

#header{
    #home &{
        display:flex;
        align-items: flex-end;
        align-content:flex-end;
        flex-wrap: wrap;
        background-image: url(../images/hero_bg_m.jpg);
        background-size: 100% auto;
        background-size: cover;
        background-position: 0px 50%;
        background-repeat:no-repeat;
        min-height: 10rem;
        min-height: 100vh;
        @media screen and (max-width:36em){
            background-image: url(../images/hero_bg_s.jpg);
        }
        @media screen and (min-width:72em){
            background-image: url(../images/hero_bg_l.jpg);
        }
    }
    .jm-container{
        padding-bottom:2em;
        position:relative;
    }
    h1{
        text-align:left;
        color:$white;
        padding-top:1em;
        text-shadow: .1em .1em .5em transparentize($black,.5);
        @media screen and (min-width:30em){
            padding-top:0;
        }
    }
    p{
        text-align:left;
        color:$yellow;
        text-shadow: .1em .1em .5em transparentize($black,.5);
    }
    #contact{
        width:90%;
        display:block;
        padding: 1rem 5%;
        background-color:$white;
        @media screen and (min-width:32em){
            background-color:transparent;
            position:absolute;
            top:2rem;
            right:2rem;
            width:auto;
            padding:0;
        }
        @media screen and (min-width:32em) and (max-width:72em){
            padding: .5rem 1rem;
            background-color:$white;
            box-shadow: -.25rem .25rem 1rem transparentize($black,.75);
        }
        @media screen and (min-width:49em){
            padding-right:2em;
        }
        p{
            color:$black;
            text-shadow:none;
            text-align:right;
            a{
                color:$red;
            }
        }
    }
}

#objective{
    background-color:$green;
    h2{
        color:$white;
    }
}

#services{
    color:$black;
    text-shadow: 1px 1px 0px $white, 2px 2px 0px $white;
}

#projects{
    background-color:$red;
    color:$white;
    .project{
        margin:2rem 0;
        float:left;
        width:100%;
        p{
            overflow-wrap: break-word;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;
            a{
                color:$yellow;
                
            }
        }
    }
}

#clients{
    background-color:#fff;
    color:$black;
    ul{
        column-count: auto !important;
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: space-between;
        li{
            width: 100%;
            flex-basis:100%;
            float:left;
            display:flex;
            align-items:center;
            @media screen and (min-width:20em){
                margin:2em 0;
                min-height:5em;
            }
            &:before{
                content:none;
            }
            @media screen and (min-width:36em){
                width:50%;
                flex-basis:50%;
                min-height:10em;
            }
            @media screen and (min-width:48em){
                width:33.33%;
                flex-basis:33.33%;
            }
            @media screen and (min-width:64em){
                width:25%;
                flex-basis:25%;
            }
            .img{
                @media screen and (min-width:20em){
                    text-indent:-1000em;
                    background-image:url('../images/clients/sprite.png');
                    background-size: 683px auto;
                    background-repeat:no-repeat;
                    display:block;
                    margin:auto;
                    &#laquinta.img{
                        background-position: -204px -96px;
                        height: 101px;
                        width: 163px;
                    } 
                    &#shutterfly.img{
                        background-position: -558px 1px;
                        height: 126px;
                        width: 125px;
                    }
                    &#whichwich.img{
                        background-position: 0px 0px;
                        height: 82px;
                        width: 146px;
                    }
                    &#askdotcom.img{
                        background-position: -427px -297px;
                        height: 103px;
                        width: 143px;
                    }
                    &#lund.img{
                        background-position: 0px -233px;
                        height: 56px;
                        width: 198px;
                    }
                    &#spe.img{
                        background-position: -345px 0px;
                        height: 103px;
                        width: 198px;
                    }
                    &#darling.img{
                        background-position: -378px -195px;
                        height: 49px;
                        width: 182px;
                    }
                    &#santander.img{
                        background-position: 0px -96px;
                        height: 58px;
                        width: 201px;
                    }
                    &#crystler.img{
                        background-position: -215px -268px;
                        height: 43px;
                        width: 201px;
                    }
                    &#gm.img{
                        background-position: 0px -305px;
                        height: 31px;
                        width: 202px;
                    }
                    &#davebusters.img{
                        background-position: -561px -130px;
                        height: 123px;
                        width: 123px;
                    }
                    &#purina.img{
                        background-position: -366px -106px;
                        height: 35px;
                        width: 191px;
                    }
                    &#askfm.img{
                        background-position: -570px -257px;
                        height: 125px;
                        width: 97px;
                    }
                    &#iac.img{
                        background-position: -203px -200px;
                        height: 56px;
                        width: 164px;
                    }
                    &#fluor.img{
                        background-position: -377px -147px;
                        height: 34px;
                        width: 173px;
                    }
                    &#txuenergy.img{
                        background-position: -160px -15px;
                        height: 77px;
                        width: 171px;
                    }
                    &#match.img{
                        background-position: -422px -254px;
                        height: 43px;
                        width: 145px;
                    }
                    &#dictionary.img{
                        background-position: 0 -340px;
                        height: 45px;
                        width: 203px;
                    }
                    &#rpm.img{
                        background-position: 0 -154px;
                        height: 77px;
                        width: 201px;
                    }
                    &#ccs.img{
                        background-position: -225px -313px;
                        height: 71px;
                        width: 116px;
                    }
                }
            }
            a{
                width:100%;
                margin:0 auto;
                transition:transform .3s ease, filter .3s ease;
                @media screen and (min-width:20em){
                    width:75%;
                }
                @media screen and (min-width:48em){
                    filter: saturate(0);
                }
                &:hover{
                    filter:saturate(1);
                    transform:scale(1.2);
                }
            }
        }
    }
}

#credentials{
    background-color:$yellow;
    color:$green;
}