<!doctype html>
<html lang="en-JP">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Joshua McCarthy | Product Development Manager, Web Developer, UX & UI Designer</title>
        <meta name="description" content="Building the most effective web experience for every internet connected device is the ardent focus of my career.">
        <meta name="keywords" content="web development, web design, ux design, ui design"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, shrink-to-fit=no"/>
        <link rel="stylesheet" href="/styles/styles.min.css">
        <script src="https://use.typekit.net/mkl4rol.js" async></script>
        <script async>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="canonical" href="http://joshuamccarthy.work" />

        <meta property="og:locale" content="en_JP" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Building the most effective web experience for every internet connected device is the ardent focus of my career." />
        <meta property="og:title" content="Joshua McCarthy | Product Development Manager, Web Developer, UX & UI Designer" /> 
        <meta property="og:image" content="http://joshuamccarthy.work/images/hero_bg_m.jpg" />
        <meta property="og:url" content="http://joshuamccarthy.work" />
        <meta property="og:site_name" content="Joshua McCarthy" />
    </head>
    <body id="home" name="top">
    <div id="scrollTop" aria-hidden="true">&#8593;</div>