<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%- title %></title>
        <meta name="description" content="Professional online portfolio of Joshua McCarthy. Currently residing in Tokyo, Japan">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, user-scalable=no, shrink-to-fit=no"/>
        <link rel="stylesheet" href="/styles/styles.min.css">
        <script src="https://use.typekit.net/mkl4rol.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <body id="<%- id %>" name="top">
    <div id="scrollTop">&#8593;</div>