<header id="header">
    <div class="jm-container">
        <h1>Joshua McCarthy</h1>
        <p>Technology Product Manager at <a href="https://www.liquid.com/" target="_blank">Liquid by Quoine</a></p>
    </div>
    <div id="contact">
        <p>Tokyo, Japan<br />
        <a href="mailto:joshua.f.mccarthy@gmail.com">joshua.f.mccarthy@gmail.com</a>
    </div>
</header>
<main role="main">